<div>
  <%= I18n.t('exchange_rate.currency') %>: <%= exchange_rate[:currency] %>, <%= I18n.t('exchange_rate.price') %>
  : <%= exchange_rate[:price] %>, <%= I18n.t('exchange_rate.updated_at') %>
  : <%= I18n.l(exchange_rate[:updated_at]) %>
</div>
<br/>